/* Custome style for website*/
.alert-success{color:#FFF !important;background-color:#307ecc !important;border-color:#d6e9c6; font-size:14px !important;}
.vcBox
{
	position:relative;
	float:left; 
	/*color:#cccccc;*/
	text-decoration:none;
	min-height:104px;
	width:140px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin:10px;
	border:3px dashed #dddddd;
	text-align:center;}
	.vcBox:hover
	{
		border:3px dashed #999999;
		color:#666666;
		cursor:pointer;
		font-weight:bold;
					}
	.vcBox .add
	{
		margin-top:13px;
		left:0px;
		right:0px;}
		.vcBox .text
		{
			margin:20px auto 0 auto;
			
			height:83px;
			vertical-align:middle;
			
				
		}
		.fontStyle
		{
			font-weight:bold !important;
		}
.alert_detail{
	text-align:justify  !important;
	font-size:14px !important;}
