.c_main {
    /*width:1000px;*/
    width:800px;
    margin:0 auto
}

.out_box {
    width:100%;
    border:1px solid #e4e4e4;
    background-color:#fff;
    overflow:hidden;
    position:relative
}

.mt_10 {
    margin-top:10px
}

.linkStyle {
	text-decoration:none !important;
	cursor:pointer;
}